
.disclaimer {
    position: fixed;
    top: 10px; 
    right: 100%; 
    white-space: nowrap; 
    animation: moveLeft 10s linear infinite;
  }
  
  @keyframes moveLeft {
    0% {
      right: 100%;
    }
    100% {
      right: 0;
    }
  }
  


.scroll-down {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    animation: bounce 2s infinite;
  }
  
  .arrow {
    border: solid rgb(252, 251, 251);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 8px;
    transform: rotate(45deg);
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  


.background-container {
    width: 100vw;
    height: 100vh; 
    background-image:url('giphy.jpeg')    ;
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
.link-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap; 
  }
  
  .link-item {
    background-color: #fff;
    border-radius: 50%; 
    overflow: hidden;
    width: 150px; 
    height: 150px; 
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .link-item img {
    max-width: 100%; 
    max-height: 100%; 
    border-radius: 50%; 
  }




.link-org {
    list-style-type: none;
    text-align: center; 
    display: block;
    font-size: 17px;
    padding: 5px;
  }
  
  .link-org a:link {
    display: block;
    color: black;
    font-size: 17px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: #dfc3da; 
    padding: 5px;
    margin: 5px;
  }
  
  .link-org a:visited {
    display: block;
    color: black;
   background-color: #dfc3da; 
  }
  
  .link-org a:hover {
    color: black;
    display: block;
    background-color: #b5a6b2; 
  }
  .drop-in-element {
    opacity: 0; 
    animation: drop-in 0.5s ease-in-out forwards;
  }
  
  @keyframes drop-in {
    from {
      transform: translateY(-100px); 
      opacity: 0;
    }
    to {
      transform: translateY(0); 
      opacity: 1;
    }
  }


footer {
    text-align: center;
    padding: 1px;
    background-color: #f2f2f2;
    color: #555; 
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  